body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

body { background-color: #fdfdfd; color: #333; font: 400 21px/1.5 "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; -webkit-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

img { max-width: 100%; vertical-align: middle; }

figure > img { display: block; }

figcaption { font-size: 18.375px; }

ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

a { color: #258fb8; text-decoration: none; }
a:visited { color: #217fa3; }
a:hover { color: #63bde0; transition: color .3s; }

blockquote { font-size: 23.625px; border-left: 4px solid #e8e8e8; color: #828282; font-style: italic; letter-spacing: -1px; padding-left: 15px; }
blockquote > :last-child { margin-bottom: 0; }

.wrapper { margin-left: auto; margin-right: auto; max-width: 700px; padding-left: 30px; padding-right: 30px; }

.wrapper::after, .footer-col-wrapper::after { clear: both; content: ''; display: table; }

.svg-icon { display: inline-block; fill: #828282; height: 16px; padding-right: 5px; vertical-align: text-top; width: 16px; }

.social-media-list li + li { padding-top: 5px; }

@font-face { font-family: 'FontAwesome'; src: url("/assets/font/fa-solid-900.eot"); src: url("/assets/font/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/assets/font/fa-solid-900.woff") format("woff"), url("/assets/font/fa-solid-900.ttf") format("truetype"), url("/assets/font/fa-solid-900.svgz#FontAwesomeRegular") format("svg"), url("/assets/font/fa-solid-900.svg#FontAwesomeRegular") format("svg"); font-weight: normal; font-style: normal; }
table { border: 1px solid #e8e8e8; border-collapse: collapse; color: #616161; margin-bottom: 30px; text-align: left; width: 100%; }
table tr:nth-child(even) { background-color: #f7f7f7; }
table th, table td { padding: 10px 15px; }
table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

.site-footer { border-top: 1px solid #e8e8e8; margin-left: 300px; padding: 30px 0; }
@media screen and (max-width: 700px) { .site-footer { margin-left: auto; } }

.contact-list, .social-media-list { list-style: none; margin-left: 0; min-width: 200px; }

.footer-col-wrapper { font-size: 19.6875px; font-weight: 350; color: #424242; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: calc(35% - (30px / 2)); }

.footer-col-2 { width: calc(20% - (30px / 2)); }

.footer-col-3 { width: calc(45% - (30px / 2)); }

@media screen and (max-width: 700px) { .footer-col { float: none; width: calc(100% - (30px / 2)); } }
.site-footer .wrapper, .page-content .wrapper { margin-left: 10%; }
@media screen and (max-width: 700px) { .site-footer .wrapper, .page-content .wrapper { margin-left: auto; } }

.page-content { margin-left: 300px; margin-right: auto; padding: 30px 0; position: absolute; }
@media screen and (max-width: 700px) { .page-content { margin-left: auto; } }

.page-heading { font-size: 42px; }

.post-link { font-size: 31.5px; display: block; }

/** Site header */
.header { background-color: #2d3339; height: 100%; left: 0; overflow-x: hidden; padding: 1%; position: fixed; top: 0; width: 300px; z-index: 1; }
.header a:hover { color: #258fb8; }
.header .social-media-list { display: flex; justify-content: space-between; list-style-type: none; margin: 0 auto; width: 60%; }
.header .social-media-list li { display: block; margin: 0; padding: 0; }
.header .social-media-list li .svg-icon { fill: #fdfdfd; height: 24px; width: 24px; }
.header .social-media-list li .svg-icon:hover { fill: #258fb8; transition: fill .3s; }
.header .social-media-list li span { display: none; }

.social-footer { background-color: #2d3339; bottom: 0; height: 80px; left: 0; position: absolute; width: 100%; }
@media screen and (max-height: 600px) { .social-footer { position: relative; } }

.site-header { margin: 16% auto 10% 10%; width: 60%; }
@media screen and (max-width: 700px) { .site-header { margin: 5% auto 10%; text-align: center; } }

.profilepic { margin-bottom: 10%; }
.profilepic img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: block; margin: 0; width: 160px; }
@media screen and (max-width: 700px) { .profilepic img { margin: 0 auto; } }

.site-title { font-size: 63px; font-weight: 1000; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fdfdfd; line-height: 53.55px; text-transform: capitalize; }
.site-title, .site-title:visited { color: #fdfdfd; }

.site-subtitle { font-size: 63px; color: #5c5c5c; font-size: 21px; font-style: italic; }

.site-nav { line-height: 31.5px; }
.site-nav ul { list-style-type: none; margin-left: 0; padding-top: 10%; }
.site-nav ul li { font-size: 27.3px; font-weight: 280; color: #e8e8e8; letter-spacing: 1px; line-height: 1.5; text-transform: lowercase; }
.site-nav ul li a { color: #e8e8e8; }
.site-nav ul li a:hover { text-decoration: none; }
.site-nav ul li.current-page { background: #fdfdfd; color: #333; margin-left: -5px; padding-left: 5px; width: 300px; }

@media screen and (max-width: 700px) { body .header { float: none; position: relative; width: 100%; }
  body .header .social-footer { height: auto; position: relative; }
  body .header .social-media-list { bottom: auto; height: auto; width: 100%; }
  body .header .social-media-list .svg-icon { height: 24px; width: 24px; }
  body .header .site-nav ul .current-page { background: inherit; color: #258fb8; margin-left: 0; padding-left: 0; width: inherit; } }
.post-header { margin-bottom: 30px; }

.post-title { font-size: 63px; font-weight: 3200; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 700px) { .post-title { font-size: 42px; } }

.post-content { font-family: "Mate", Georgia, Cambria, "Times New Roman", Times, serif; line-height: 33px; margin-bottom: 30px; }
.post-content a { background-image: linear-gradient(to right, currentColor 100%, currentColor 0); background-position: 0 calc(1em + 1px); background-repeat: repeat-x; background-size: 1px 1px; }
.post-content h2, .post-content h3, .post-content h4 { font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600; }
.post-content h2 { font-size: 33.6px; line-height: 1.15; margin-top: 54px; }
.post-content h3 { font-size: 25.2px; color: #666666; margin-bottom: 7.5px; margin-top: 30px; }
.post-content h4 { font-size: 23.1px; color: gray; font-weight: 500; margin-bottom: 7.5px; margin-top: 15px; }
.post-content .caption { color: #999; display: block; font-size: .6em; font-style: italic; padding-left: 15px; position: relative; }
.post-content .caption::before { content: '\f05a'; font-family: FontAwesome; left: 0; line-height: 1.6em; position: absolute; }
.post-content .read-more { font-size: 16.8px; background: none; border: solid 1px #2d3339; font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 6px 10px; text-transform: uppercase; }
.post-content .read-more:hover { background-color: #2d3339; color: #fdfdfd; }

.meta { font-size: 18.9px; font-weight: 200; color: #aaa; margin-left: 4px; }
.meta a { color: #aaa; -moz-transition: .3s; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }
.meta a:hover { color: #424242; text-decoration: underline; }
.meta .date, .meta .tags, .meta .comments, .meta .edit { padding-right: 10px; }
.meta .date::before, .meta .tags::before, .meta .comments::before, .meta .edit::before { color: #c4c4c4; font-family: FontAwesome; left: 0; margin-right: 5px; }
.meta .date::before { content: '\f073'; }
.meta .tags::before { content: '\f02c'; }
.meta .comments::before { content: '\f075'; }
.meta .edit::before { content: '\f044'; }

.tag { display: none; }

.excerpt { margin: 0; padding: 0; }
.excerpt img { margin-bottom: 30px; }

.comments { font-weight: 200; margin-top: 10px; }
.comments .avatar { border-radius: 4px; float: left; height: 48px; width: 48px; }

.comments-list { line-height: 1.4; list-style-type: none; padding: 0; }
.comments-list .bullet { color: #aaa; }
.comments-list li { clear: both; line-height: 21px; margin-top: 8px; min-height: 48px; padding: 8px; }
.comments-list blockquote { border: 0; color: #333; font-family: "Mate", Georgia, Cambria, "Times New Roman", Times, serif; font-style: normal; letter-spacing: 0; margin-left: 60px; }
.comments-list cite { font-size: 15.75px; font-style: normal; }
.comments-list cite .author { font-weight: 520; }
.comments-list cite .muted { font-size: 14.7px; color: #656c7a; }
.comments-list .comment-body { font-size: 18.9px; font-weight: 352; overflow-x: scroll; }
.comments-list.byauthor { background-color: #fcf9eb; border-radius: 4px; }

.comment-form { padding: 8px; }
.comment-form input { border-radius: 4px; height: 32px; margin: 10px 0 0; padding: 5px 9px; transition: all .2s linear; }
.comment-form input:focus, .comment-form .textarea:focus, .comment-form .comment-button:active, .comment-form .comment-button:focus { border-color: #a1abb8; box-shadow: 0 0 8px #e6d2b4; outline: none; }
.comment-form .textarea, .comment-form .status { border-radius: 4px; height: auto; line-height: 1.4; padding: 6px 10px 8px; }
.comment-form .textarea { color: #333; cursor: text; display: block; min-height: 100px; overflow: auto; transition: all .15s ease-in-out; width: 100%; word-wrap: break-word; }
.comment-form .status:not(:empty) { background-color: #ecc; border: solid 1px #d58080; margin-bottom: 10px; }
.comment-form .status:not(:empty).confirm-status { background-color: #eed; border: solid 1px #cccc99; }
.comment-form .status:empty { display: none; }
.comment-form [contenteditable]:empty:not(:focus)::before { color: #687a86; content: attr(aria-label); display: block; line-height: 30px; }
.comment-form .commenttext { margin-left: 60px; }
.comment-form .comment-box { min-height: 48px; }
.comment-form .comment-author { margin-left: 60px; }
.comment-form .comment-button, .comment-form input, .comment-form .textarea { border: 1px solid #d2d4d9; }
.comment-form .comment-button::placeholder, .comment-form input::placeholder, .comment-form .textarea::placeholder { color: #687a86; font-weight: 300; }
.comment-form .comment-button { -webkit-appearance: none; appearance: none; background-color: 1px solid #dbdfe4; background-image: linear-gradient(-180deg, #f8f9fa 0%, #dbdfe4 90%); border-radius: 4px; color: #59606c; height: 44px; margin: 10px 0 0; padding: 5px 9px; }
.comment-form .comment-button:hover { background-color: 1px solid #d2d7dd; background-image: linear-gradient(-180deg, #eaecef 0%, #d2d7dd 90%); border: 1px solid #ccd2d9; }
.comment-form .comment-button:active { background-color: 1px #f8f9fa; background-image: linear-gradient(-180deg, #eaecef 0%, #f8f9fa 90%); border: 1px solid #dbdfe4; }
.comment-form .comment-button.confirm-button { background-color: 1px solid #dbdfe4; background-image: linear-gradient(-180deg, #dbdfe4 0%, #eed 90%); }
.comment-form .remember-me { font-size: 15.75px; display: inline-block; padding: 10px 6px; }
.comment-form .remember-me label { padding-left: 4px; }
.comment-form .remember-me input { height: auto; margin: auto; padding: auto; }

.contributor-list { display: grid; grid-template-columns: repeat(auto-fit, minmax(132px, 1fr)); list-style-type: none; margin-top: 20px; }
.contributor-list li { font-size: 16.8px; font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; height: 110px; margin-bottom: 10px; text-align: center; }
.contributor-list li img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-bottom: 8px; width: 64px; }
.contributor-list li a { display: block; line-height: 1; }

.archives h2 { font-size: 29.4px; font-weight: 400; border-bottom: dotted 1px #828282; }
.archives h3 { font-size: 21px; font-weight: 400; display: inline-block; }
.archives .meta { display: inline-block; }

.pagination { color: #aaa; text-align: center; }
.pagination a, .pagination span { border: 1px solid #e8e8e8; display: inline-block; margin: auto -3px; padding: 7px 18px; }
.pagination a:hover { background-color: #fcf9eb; }

.asp { color: #cc0; }

.html { color: #02a; }

.highlight { background: #fdfdfd; }
.highlight .p { color: #666; }
.highlight .c, .highlight .c1, .highlight .cm { color: #292; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { color: #00f; }
.highlight .o { font-weight: bold; }
.highlight .cp { color: #007d9a; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #25d; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #63a; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #03a; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

code { font-family: Consolas, Menlo, Monaco, "Andale Mono", "lucida console"; }
code.highlighter-rouge { font-size: 17.85px; background-color: rgba(27, 31, 35, 0.05); border-radius: 3px; margin: 0; padding: .2em .4em; word-wrap: break-word; }

pre code, pre.csharpcode { font-size: 14.7px; background: #fdfdfd; border: solid 1px #e8e8e8; box-shadow: 1px 1px 2px #aaa; color: #333; display: block; line-height: 1.5; margin: 10px 0 8px; overflow-x: auto; padding: 5px 15px; white-space: pre-wrap; }
@media screen and (max-width: 700px) { pre code, pre.csharpcode { font-size: 12.6px; } }

h1.post-title a { color: #333; }
h1.post-title a:hover { color: #258fb8; }

.site-nav { margin-top: 10%; }

.site-nav ul li { font-size: 23.1px; font-weight: 200; }

.site-footer { margin-left: 0; }

.footer-col-1 { width: calc(20% - (30px / 2)); }

.footer-col-2 { width: calc(20% - (30px / 2)); }

.footer-col-3 { width: calc(60% - (30px / 2)); }

.pagination { padding-bottom: 30px; }

.page img.profile { float: left; margin: 0 30px 30px 0; width: 260px; }
@media screen and (max-width: 700px) { .page img.profile { clear: both; display: block; float: none; margin: 0 auto; } }
.page img.profile .post-content h2 { clear: both; }

.matrix { font-size: 14px; }
.matrix th, .matrix td { padding: 5px 10px; }
